{% extends "base.html" %}
{% block page_content %}
<h1 style="padding-left:50px;color: #E6FAFC">{{ movie.title }}</h1>
<h3 style="padding-left:50px;color: #E6FAFC">{{ movie.release_year}}</h3>

<div class="row">
    <img src={{movie.background_path}} alt="" style="max-width: 75%;">
</div>
<div class="row">
    <div class="col" style="max-width: 75%;">
        <br>
        <h5 style="padding-left:50px;color: #E6FAFC;">Description:</h5>
        <p style="padding-left:50px;padding-right:50px;color: #E6FAFC">{{ movie.description }}</p>
        <br>
        <h5 style="padding-left:50px;color: #E6FAFC">Director:</h5>
        <p style="padding-left:50px;color: #E6FAFC">{{ movie.director }}</p>
        <br>
        <h6 style="padding-left:50px;color: #E6FAFC">Cast:</h6>
        <p style="padding-left:50px;color: #E6FAFC">{{ movie.cast }}</p>
        <br>
        <br>
    </div>
</div>
{% endblock %}