{% extends "base.html" %}
{% block page_content %}
<h1 style="padding-left:50px;">{{ movie.title }}</h1>
<h3 style="padding-left:50px;">{{ movie.release_year}}</h3>

<div class="row">
    <img src={{movie.background_path}} alt="" width="100%" height="100%">
</div>
<div class="row">
    <div class="col">
        <br>
        <h5 style="padding-left:50px;">Description:</h5>
        <p style="padding-left:50px;padding-right:50px;">{{ movie.description }}</p>
        <br>
        <h5 style="padding-left:50px;">Director:</h5>
        <p style="padding-left:50px;">{{ movie.director }}</p>
        <br>
        <h6 style="padding-left:50px;">Cast:</h6>
        <p style="padding-left:50px;">{{ movie.cast }}</p>
    </div>
</div>
{% endblock %}