{% extends "base.html" %}
{% block page_content %}
<div class="row">
    <div class="column" style="height: 100%;">
        <img src={{book.cover_path}} alt="" style="max-width: 75%;padding-left: 50px;">
    </div>
    <div class="column" style="height: 100%;">
        <h1 style="padding-left:50px;color: #E6FAFC">{{ book.title }}</h1>
        <p style="padding-left:50px;color: #E6FAFC">By: {{book.authors}}</p>
        <p style="padding-left:50px;color: #E6FAFC">Originally Published: {{book.pub_date}}</p>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <p style="padding-left:50px; padding-right:100px; color:#E6FAFC; justify-content:center;">{{book.description}}</p>
</div>



{% endblock %}